/* display: flex */
body,
.header,
.hero-header,
.content,
.footer,
.cards {
  display: flex;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  flex-direction: column;
  flex: 1;
}

.header {
  background: #1f2937;
  color: white;
  margin-bottom: 24px;
}

.hero-text {
  max-width: 400px;
  min-width: 300px;
  font-size: larger;
  color: #cacaca;
}

h2 {
  color: white;
  font-size: xx-large;
}

#hero-image {
  /* width: ; */
  max-width: 30%;
  max-height: auto;
  min-width: 300px;
  min-height: auto;
  object-fit: cover;
  border-radius: 5%;
}

.hero-header {
  background: #1f2937;
  padding: 1em;
  gap: 2em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content {
  flex-direction: column;
  flex: 1;
}

.cards {
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 24px;
}

.card {
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  max-width: 150px;
  padding: 16px;
}

.footer {
  background: #1f2937;
  color: #b6b6b6;
  padding: 1em;
  gap: 2em;
  align-items: center;
  justify-content: space-between;
}

.author-info {
  align-self: flex-end;
}

.cc-icon,
.attribution-icon,
.nd-icon {
  height: 25px;
  width: 25px;
  padding: 3.5px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: white;
}
